In [3]:
import pandas as pd

In [37]:
df = pd.read_csv('final_table/order.csv')
print(len(df))

1438175

In [42]:
df.head()

,uid,orderid,createtime,product_id,sid,count,address,warehouse,method,city,q
0,d1StqpG4.gZcaYxoLi2l,RM1108030040920,2011-08-03,6009632,6762,1,台南市楠西區茄拔路2巷127號,秋雨,倉出,台南市,Q3
1,D1UI3BVbKXjzQ624aI9UOg--,RM1107130014826,2011-07-13,2130978,6438,1,苗栗縣通霄鎮南和里166號(飛牛牧場),新豐,倉出,苗栗縣,Q3
2,d236NZZSfHulviI6suuTFw--,RM1107070029609,2011-07-07,1904671,4946,4,高雄市楠梓區惠豐街186巷3號9樓,新豐,倉出,高雄市,Q3
3,d2C9ML6tDHoRMTx1YPU-,RM1108090020702,2011-08-09,1967319,6438,2,屏東縣恆春鎮四溝里興北路95號,新豐,倉出,屏東縣,Q3
4,d2P6atYlEnwnum_V3yeP,RM1109050021255,2011-09-05,5716861,6330,1,台北市中山區松江路148號5樓之1,新豐,倉出,台北市,Q3

---

In [43]:
l = df['address'].tolist()

In [44]:
for i in range(len(l)):
    l[i] = l[i].replace(',', ' ')
    l[i] = l[i].replace('，', ' ')
    l[i] = l[i].replace('\r', ' ')
    l[i] = l[i].replace('\n', ' ')

In [45]:
df['address'] = l

In [50]:
df.to_csv('final_table/order.csv', index=False)