In [5]:
# pip install psycopg2

In [5]:
import psycopg2

# change these to your setting
database = 'final_project'
user = 'postgres'
password = '1234'
host = '127.0.0.1'
port = '5432'
conn = psycopg2.connect(database=database, user=user, password=password, host=host, port=port)
with(conn):
    print("Opened database successfully")

Opened database successfully

### table
* address
* orders
* supplier
* warehouse
* main_sku (product)
* keyword (product class)

In [7]:
# address
print('import address')
cur = conn.cursor()
cur.execute('''CREATE TABLE address
       (ID            int PRIMARY KEY  NOT NULL,
       Address        varchar,
       Response_X     float8,
       Response_Y     float8, 
       geo            geography);''')
conn.commit()
print("Table created successfully")

path = 'final_table/address.csv'
with open(path, 'r', encoding='utf-8') as f:
    next(f)
    cur.copy_from(f, 'address', sep=',', )
conn.commit()
print("data inserted successfully\n")

import address
Table created successfully
data inserted successfully

In [8]:
# orders
print('import order')
cur = conn.cursor()
cur.execute('''CREATE TABLE orders
       (uid             varchar,
       orderid          varchar PRIMARY KEY  NOT NULL,
       createtime       date,
       product_id       varchar,
       sid              varchar,
       count            int,
       address          varchar,
       warehouse        varchar,
       method           varchar,
       city             varchar,
       Q                varchar);''')
conn.commit()
print("Table created successfully")

path = 'final_table/orders.csv'
with open(path, 'r', encoding='utf-8') as f:
    next(f)
    cur.copy_from(f, 'orders', sep=',', )
conn.commit()
print("data inserted successfully\n")

import order
Table created successfully
data inserted successfully

In [9]:
# supplier
print('import supplier')
cur = conn.cursor()
cur.execute('''CREATE TABLE supplier
       (id             varchar PRIMARY KEY  NOT NULL,
       name            varchar,
       address         varchar);''')
conn.commit()
print("Table created successfully")

path = 'final_table/supplier.csv'
with open(path, 'r', encoding='utf-8') as f:
    next(f)
    cur.copy_from(f, 'supplier', sep=',', )
conn.commit()
print("data inserted successfully")

import supplier
Table created successfully
data inserted successfully

In [10]:
# warehouse
print('import warehouse')
cur = conn.cursor()
cur.execute('''CREATE TABLE warehouse
       (id             varchar PRIMARY KEY  NOT NULL,
       warehouse       varchar,
       location        varchar,
       address         varchar,
       Response_X      float8,
       Response_Y      float8, 
       geo             geography);''')
conn.commit()
print("Table created successfully")

path = 'final_table/warehouse.csv'
with open(path, 'r', encoding='utf-8') as f:
    next(f)
    cur.copy_from(f, 'warehouse', sep=',', )
conn.commit()
print("data inserted successfully")

import warehouse
Table created successfully
data inserted successfully

In [11]:
# main_sku (product)
print('import main_sku')
cur.execute('''CREATE TABLE main_sku
       (Product_ID    varchar PRIMARY KEY  NOT NULL,
       sid            varchar,
       Class          varchar,
       name           varchar);''')

conn.commit()
print("Table created successfully")



# ======== insert data =========
path = 'final_table/Main_sku_combined_delete_2.csv'
with open(path, 'r', encoding = 'utf-8') as f:
    next(f)
    cur.copy_from(f, 'main_sku', sep = ',', )
f.close()
print("insert data successfully")
conn.commit()

import main_sku
Table created successfully
insert data successfully

In [12]:
# keyword of product (class)
print('import keyword')
cur.execute('''CREATE TABLE keyword
       (Class_ID      varchar PRIMARY KEY  NOT NULL,
       k1            varchar,
       k2          varchar,
       k3           varchar);''')

conn.commit()
print("Table created successfully")

# ======== insert data =========
path = 'final_table/keyword.csv'
with open(path, 'r', encoding = 'utf-8') as f:
    next(f)
    cur.copy_from(f, 'keyword', sep = ',', )
f.close()
print("insert data successfully")
conn.commit()

import keyword
Table created successfully
insert data successfully

In [8]:
conn.close()