In [ ]:
# pip install psycopg2

In [1]:
import psycopg2

data 格式: id、Address、Response_X、Response_Y

In [6]:
conn = psycopg2.connect(database="final_project", user="postgres", password="1234", host="127.0.0.1", port="5432")
with(conn):
    print("Opened database successfully")

Opened database successfully

In [39]:
cur = conn.cursor()
cur.execute('''CREATE TABLE addr
       (ID INT PRIMARY KEY     NOT NULL,
       Address           varchar,
       Response_X            float8,
       Response_Y             float8);''')

conn.commit()
print("Table created successfully")

Table created successfully

In [ ]:
cur = conn.cursor()
file_list = [14, 15, 16, 17, 18, 19, 21]
path = 'processed_addr/'
for i in file_list:
    path = 'processed_addr/addr_' + str(i) + '.csv'
    with open(path, 'r', encoding='utf-8') as f:
        next(f)
        cur.copy_from(f, 'addr', sep=',', )
    f.close()
print("insert data successfully")
cur.execute('''ALTER TABLE addr ADD geo geography;''')
conn.commit()

In [41]:
cur = conn.cursor()
cur.execute('''update addr
set geo = st_geogfromtext('POINT(' || response_x || ' ' || response_y || ')')
where geo is NULL;''')

conn.commit()
print("update geography data successfully")

update geography data successfully

In [5]:
conn.close()

---

insert warehouse data

In [8]:
cur = conn.cursor()
cur.execute('''CREATE TABLE w
       (ID INT PRIMARY KEY     NOT NULL,
       warehouse            varchar,
       location             varchar,
       address              varchar,
       response_x           float8,
       response_y           float8, 
       geo                  geography);''')

conn.commit()
print("Table created successfully")

cur = conn.cursor()
with open('final_table/warehouse.csv', 'r', encoding='utf-8') as f:
    next(f)
    cur.copy_from(f, 'w', sep=',', )
conn.commit()
print("data inserted successfully")
conn.close()

Table created successfully
data inserted successfully

In [100]:
cur = conn.cursor()
cur.execute('''CREATE TABLE warehouse_info
       (ID INT PRIMARY KEY     NOT NULL,
       warehouse           varchar,
       location            varchar,
       address             varchar,
       response_x         float8,
       response_y         float8);''')

conn.commit()
print("Table created successfully")

with open('warehouse_info.csv', 'r', encoding='utf-8') as f:
    next(f)
    cur.copy_from(f, 'warehouse_info', sep=',', )
conn.commit()
print("data inserted successfully")

cur.execute('''ALTER TABLE warehouse_info ADD geo geography;''')
conn.commit()

cur.execute('''update warehouse_info
set geo = st_geogfromtext('POINT(' || response_x || ' ' || response_y || ')')
where geo is NULL;''')
conn.commit()
print("update geography data successfully")

Table created successfully
data inserted successfully
update geography data successfully

insert area information

In [49]:
# cur = conn.cursor()
# cur.execute('''CREATE TABLE area
#        (ID INT PRIMARY KEY     NOT NULL,
#        area           varchar);''')

# conn.commit()
# print("Table created successfully")

# with open('area.csv', 'r', encoding='utf-8') as f:
#     next(f)
#     cur.copy_from(f, 'area', sep=',', )
# conn.commit()
# print("data inserted successfully")

Table created successfully
data inserted successfully

insert supplier information

In [66]:
cur = conn.cursor()
# cur.execute('''CREATE TABLE supplier
#        (ID INT PRIMARY KEY     NOT NULL,
#        name                  varchar, 
#        address               varchar);''')

# conn.commit()
# print("Table created successfully")

with open('supplier_delete.csv', 'r', encoding='utf-8') as f:
    next(f)
    cur.copy_from(f, 'supplier', sep=',', )
conn.commit()
print("data inserted successfully")

data inserted successfully

insert products information

In [86]:
cur = conn.cursor()
# cur.execute('''CREATE TABLE product
#        (ID INT PRIMARY KEY     NOT NULL,
#        sid                  INT, 
#        class                INT, 
#        name                 varchar);''')

# conn.commit()
# print("Table created successfully")

with open('Main_sku_combined_delete.csv', 'r', encoding='utf-8') as f:
    next(f)
    cur.copy_from(f, 'product', sep=',', )
conn.commit()
print("data inserted successfully")

Table created successfully
data inserted successfully

In [85]:
# cur = conn.cursor()
# cur.execute('''DROP TABLE product;''')

# conn.commit()

insert product & warehouse

In [97]:
cur = conn.cursor()
cur.execute('''CREATE TABLE product_warehouse
       (ID INT               NOT NULL,
       warehouse VARCHAR     NOT NULL,
       PRIMARY KEY (ID, warehouse));''')

conn.commit()
print("Table created successfully")

with open('product_warehouse.csv', 'r', encoding='utf-8') as f:
    next(f)
    cur.copy_from(f, 'product_warehouse', sep=',', )
conn.commit()
print("data inserted successfully")

data inserted successfully