### File:
- (1) order_by_city.csv
- (2) keyword.csv
- (3) Main_sku_combined_delete_2.csv

### Table:
- (1) order_by_city (from 'order_by_city.csv')
- (2) keyword (from 'keyword.csv')
- (3) main_sku (from 'Main_sku_combined_delete_2.csv')

In [1]:
import pandas as pd
import psycopg2

In [5]:
database = 'final_project'
user = 'postgres'
password = '1234'
host = '127.0.0.1'
port = '5432'
conn = psycopg2.connect(database=database, user=user, password=password, host=host, port=port)
with(conn):
    print("Opened database successfully")

Opened database successfully

In [4]:
conn.close()

### order_by_city (可與你的 main table 合併)

In [6]:
cur = conn.cursor()
cur.execute('''CREATE TABLE order_by_city
       (Orderid       varchar PRIMARY KEY     NOT NULL,
       Product_ID     varchar,
       City           varchar,
       Q              varchar);''')

conn.commit()
print("Table created successfully")



# ======== insert data =========
path = 'final_table/order_by_city.csv'
print(path)
with open(path, 'r', encoding = 'utf-8') as f:
    next(f)
    cur.copy_from(f, 'order_by_city', sep = ',', )
f.close()
print("insert data successfully")
conn.commit()

Table created successfully
final_table/order_by_city.csv
insert data successfully

### main_sku

In [7]:
# cur = conn.cursor()
cur.execute('''CREATE TABLE main_sku
       (Product_ID    varchar PRIMARY KEY  NOT NULL,
       sid            varchar,
       Class          varchar,
       name           varchar);''')

conn.commit()
print("Table created successfully")



# ======== insert data =========
path = 'final_table/Main_sku_combined_delete_2.csv'
print(path)
with open(path, 'r', encoding = 'utf-8') as f:
    next(f)
    cur.copy_from(f, 'main_sku', sep = ',', )
f.close()
print("insert data successfully")
conn.commit()

Table created successfully
final_table/Main_sku_combined_delete_2.csv
insert data successfully

### keyword

In [8]:
cur.execute('''CREATE TABLE keyword
       (Class_ID      varchar PRIMARY KEY  NOT NULL,
       k1            varchar,
       k2          varchar,
       k3           varchar);''')

conn.commit()
print("Table created successfully")



# ======== insert data =========
path = 'final_table/keyword.csv'
print(path)
with open(path, 'r', encoding = 'utf-8') as f:
    next(f)
    cur.copy_from(f, 'keyword', sep = ',', )
f.close()
print("insert data successfully")
conn.commit()

Table created successfully
final_table/keyword.csv
insert data successfully